$white: #fff;
$gray-300: #cfcfcf;
$gray-700: #ecf2f8;
$gray-900: #48556a;
$black: #000;

$card-bg: $white;
$card-bg-purple: #7541c8;
$card-bg-gray: $gray-900;
$card-bg-blue: #19212e;

$card-img-border: #a573ec;

$body-bg: #edf2f8;
$body-color: $gray-900;

$font-size-base: 13px;
$font-size-md: $font-size-base * 1.25;

$font-weight-normal: 500;
$font-weight-bold: 700;

$font-weight-base: $font-weight-normal;

$h1-font-size: $font-size-base * 1.75;
